<ion-header >

</ion-header>

<ion-content >
 <swiper-container [initialSlide]="1"
 [speed]="400"
 [loop]="true"
 >
  
  <swiper-slide>
    <h1>Titulo Principal</h1>
    <img src="https://www.mundodeportivo.com/alfabeta/hero/2022/04/elden.1649248361.6078.jpg?width=768&aspect_ratio=16:9&format=nowebp">
    <ion-icon class="slide-icon" name="accessibility-outline"></ion-icon>

    <p class="my-favorite-text-color">Hola soy la explicacion de slideHola soy la explicacion de slideHola soy la explicacion de slideHola soy la explicacion de slide </p>
  </swiper-slide>
  
  <swiper-slide>
    <h1>Titulo secundario</h1>
    <img src="assets/images/perrito.jpg">
    <ion-icon name="map-outline"></ion-icon>

    <p>Hola soy la explicacion de slideHola soy la explicacion de slideHola soy la explicacion de slideHola soy la explicacion de slide </p>
  </swiper-slide>
  
 </swiper-container>
</ion-content>
